// Some main attributes useful all out the theme
.background {
  background: {
    color: $white;
  }
}

.content {
  margin: {
    top: 4.5rem;
    left: auto;
    bottom: 4.5rem;
    right: auto;
  }
}

.previous-next-pannel {
  margin-bottom: 20px;
  padding: 0;
}

.uppercase {
  text-transform: uppercase;
}

a.edit-post-link {
  font-size: 1rem;
}

.post-thumbnail-container {
  margin-bottom: 1rem;
}