// Some main attributes useful all out the theme
.background {
  background: {
    color: $white;
  }
}

.content {
  margin: {
    top: 4.5rem;
    left: auto;
    bottom: 4.5rem;
    right: auto;
  }
}

.previous-next-pannel {
  margin-bottom: 20px;
  padding: 0;
}

.uppercase {
  text-transform: uppercase;
}

a.edit-post-link {
  font-size: 1rem;
}

.post-thumbnail-container {
  margin-bottom: 1rem;
}

.continue-button {
  padding: {
    top: 1rem;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.button-shadow-glow {
  @include shadow(0px 2px 2px 0px rgba(0,0,0,0.5));
  &:hover {
    @include shadow(0px 4px 10px 3px rgba(29,237,202,0.75));
    transition-duration: 320ms;
    transition-property: box-shadow;
  }
}

.post-meta-bar {
  background: $light-gray;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  @include border-radius(20px);
}