.site-footer {
  color: $white;
  background: $black;
  padding: {
    top: 20px;
    right: inherit;
    bottom: 20px;
    left: inherit;
  }
}

#footer-sidebar {
  .widget {
    ul {
      list-style: square;
      li {
        border: none;
        padding: 0.5rem;
      }
    }
    margin-top: 1.5rem;
  }
}