.top-bar-bg {
  background: $topbar-background;
}

.top-bar {
  background: $topbar-background;
  padding: 0;
  li {
    padding: $topbar-padding;
    &:hover {
      background: $topbar-hover-bg;
    }
    a {
      color: $white;
    }
    &:active {
      background: $topbar-hover-bg;
    }
  }
  li.site-header-link {
    line-height: 2rem;
    font-style: italic;
    padding: 0.1rem 2.5rem;
    color: $primary-color;
    text-transform: none;
    &:hover{
      background: $topbar-background;
    }
    a {
      padding: {
        top: 0.7rem;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
}

.title-bar {
  background: $black-blue;
}